@page "/fetchdata"
@using SoftvisionBlazorComponents.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<CSVGrid DataSource=_dataSource
      TItem=WeatherForecast
      Paging="true"
      PageSize="5"
      Callback="LoadWeathers">
    <Columns>
        <Column Name="Date" Label="Date"></Column>
        <Column Name="TemperatureC" Label="Temp. (C)"></Column>
        <Column Name="TemperatureF" Label="Temp. (F)"></Column>
        <Column Name="Summary" Label="Summary"></Column>
    </Columns>
</CSVGrid>